        <table class="table table-hover">
                <tr>
                        <td align="left">pin</td>
                        <td align="left">date</td>
                        <td align="left">time</td>
                        <td align="left">last ping</td>
			<td align="left">manufacturer(productname): serial</td>
			<td align="left">RAM size</td>
                        <td align="left">MAC addr</td>
			<td align="left">status</td>
                </tr>
		{% for activation in activations %}
			<tr>
				<td align="left">{{ activation.activation_pin }}</td>
				<td align="left">{{ activation.created.date() }}</td>
				<td align="left">{{ activation.created.time().replace(microsecond=0) }}</td>
				<td align="left">{{ inject_datetime_delta(activation.last_ping)['time_ago_str'] }}</td>
				<td align="left">{{ activation.get_server().facter_json['manufacturer'] }}
				    ({{ activation.get_server().facter_json['productname'] }}):
				    {{ activation.get_server().facter_json['serialnumber'] }}</td>
				<td align="left">{{ activation.get_server().facter_json['memorysize'] }}</td>
				<td align="left">{{ activation.get_server().facter_json['macaddress'] }}</td>
				{% if activation.active %}
				<td align="left">active</a></td>
				{% else %}
				<td align="left"><a href="{{ url_for('activate_pin', activation_pin=activation.activation_pin) }}">activate pin</a></td>
				{% endif %}
			</tr>
		{% endfor %}
        </table>
