%pre
exec </dev/tty6> /dev/tty6
chvt 6
clear

echo "

         iiii WWWWWWWW                           WWWWWWWW                
        i::::iW::::::W                           W::::::W                
         iiii W::::::W                           W::::::W                
              W::::::W                           W::::::W                
       iiiiiii W:::::W           WWWWW           W:::::W eeeeeeeeeeee    
       i:::::i  W:::::W         W:::::W         W:::::Wee::::::::::::ee  
        i::::i   W:::::W       W:::::::W       W:::::We::::::eeeee:::::ee
        i::::i    W:::::W     W:::::::::W     W:::::We::::::e     e:::::e
        i::::i     W:::::W   W:::::W:::::W   W:::::W e:::::::eeeee::::::e
        i::::i      W:::::W W:::::W W:::::W W:::::W  e:::::::::::::::::e 
        i::::i       W:::::W:::::W   W:::::W:::::W   e::::::eeeeeeeeeee  
        i::::i        W:::::::::W     W:::::::::W    e:::::::e           
       i::::::i        W:::::::W       W:::::::W     e::::::::e          
       i::::::i         W:::::W         W:::::W       e::::::::eeeeeeee  
       i::::::i          W:::W           W:::W         ee:::::::::::::e  
       iiiiiiii           WWW             WWW            eeeeeeeeeeeeee  

Welcome to the iWe installer! The installer will erase all data on this
computer. If you are unsure about deleting all the data, it is a good
time to power off the computer. Installarion will continue in 30 seconds.
"
sleep 3

echo "
I will now try to reach iWe network to activate this server. Please
make sure this server is connected to the wired network, and that
Internet connection is available.
"
sleep 5

### start

repodev=$(mount|grep "/run/install/repo"|cut -d ' ' -f 1)
umount $repodev

mkdir -p /tmp/iWe/{IWE,IWE_INST,install_keys,sysimage}

mount -L IWE_INST /tmp/iWe/IWE_INST
ret_inst=$?

mount -L IWE /tmp/iWe/IWE
ret_ext=$?

if [[ $ret_inst != 0 ]] && [[ $ret_ext != 0 ]];then
	echo "I did not find a partition with label IWE_INST, and I did not find a partition with label IWE"
	echo "Before starting the installer again plug a device containing a partition that mount -L IWE can find"
	echo "Installation will not continue."
	read
	shutdown -r now
fi

install_key_regex="/tmp/iWe/IWE/iWe-install-key-*.json /tmp/iWe/IWE_INST/iWe-install-key-*.json"

install_key_count=$(ls $install_key_regex 2> /dev/null|wc -l)
if [[ "$install_key_count" != "1" ]];then
	echo "ERROR: Use either IWE or IWE_INST partition."
	echo "I do not know what to do if I find a number of keys that is different than 1."
	echo "$install_key_count keys found: $(ls $install_key_regex 2> /dev/null)"
	echo "Installation will not continue."
	read
	shutdown -r now
fi

cp -a $install_key_regex /tmp/iWe/install_keys/

umount /tmp/iWe/IWE /tmp/iWe/IWE_INST
mount $repodev /run/install/repo

mount /run/install/repo/images/iwe.img /tmp/iWe/sysimage

mount /tmp      /tmp/iWe/sysimage/tmp                   -o bind
mount proc      /tmp/iWe/sysimage/proc  -t proc         -o nosuid,noexec,nodev
mount sysfs     /tmp/iWe/sysimage/sys   -t sysfs        -o nosuid,noexec,nodev
mount devtmpfs  /tmp/iWe/sysimage/dev   -t devtmpfs     -o mode=0755,nosuid

cp /etc/resolv.conf /tmp/iWe/ # There is a link /tmp/iWe/sysimage/etc/resolv.conf -> /tmp/iWe/resolv.conf
chroot /tmp/iWe/sysimage/ /opt/iWe/activate_server.py

umount /tmp/iWe/sysimage/{tmp,proc,sys,dev,} # The last , is intentional

### end

%end
repo --name=Fedora --mirrorlist=https://mirrors.fedoraproject.org/metalink?repo=fedora-27&arch=x86_64
repo --name=Updates --mirrorlist=https://mirrors.fedoraproject.org/metalink?repo=updates-released-f27&arch=x86_64
url --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?path=pub/fedora/linux/releases/27/Server/x86_64/os


#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens3 --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$hT0pLQ27ncymeYdY$0PwffqYGUZcOGYvbxGji1VvM6DyRXBDw10BRDOhHNSFai4NEyr2HSfC1COAvKc7yivyhFBUZOEfmbMSnCfq86/
# System services
services --enabled="chronyd"
services --enabled=sshd

# System timezone
timezone Europe/Zurich --isUtc
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot/efi --fstype="efi" --ondisk=sda --size=200 --fsoptions="umask=0077,shortname=winnt"
part /boot --fstype="ext4" --ondisk=sda --size=1024
part pv.287 --fstype="lvmpv" --ondisk=sda --size=24392
volgroup clalld-system --pesize=4096 pv.287
logvol swap  --fstype="swap" --size=7997 --name=swap --vgname=clalld-system
logvol /  --fstype="xfs" --size=16384 --name=root --vgname=clalld-system

%packages
@^server-product-environment

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
%end
