%pre
chvt 3
exec </dev/tty3> /dev/tty3
clear

echo "

         iiii WWWWWWWW                           WWWWWWWW                
        i::::iW::::::W                           W::::::W                
         iiii W::::::W                           W::::::W                
              W::::::W                           W::::::W                
       iiiiiii W:::::W           WWWWW           W:::::W eeeeeeeeeeee    
       i:::::i  W:::::W         W:::::W         W:::::Wee::::::::::::ee  
        i::::i   W:::::W       W:::::::W       W:::::We::::::eeeee:::::ee
        i::::i    W:::::W     W:::::::::W     W:::::We::::::e     e:::::e
        i::::i     W:::::W   W:::::W:::::W   W:::::W e:::::::eeeee::::::e
        i::::i      W:::::W W:::::W W:::::W W:::::W  e:::::::::::::::::e 
        i::::i       W:::::W:::::W   W:::::W:::::W   e::::::eeeeeeeeeee  
        i::::i        W:::::::::W     W:::::::::W    e:::::::e           
       i::::::i        W:::::::W       W:::::::W     e::::::::e          
       i::::::i         W:::::W         W:::::W       e::::::::eeeeeeee  
       i::::::i          W:::W           W:::W         ee:::::::::::::e  
       iiiiiiii           WWW             WWW            eeeeeeeeeeeeee  

Welcome to the iWe installer! This installer is a Remix from Fedora Server
and will erase all data on this server during the installation. If you are
unsure about deleting all data connected to this server, it is a good time
to power off the server. Installarion will continue in 30 seconds.
"
sleep 30

echo "I will now try to reach iWe network to activate this server. Please
make this server is connected to the wired network, and that Internet
connection is available."
sleep 5

repodev=$(mount|grep "/run/install/repo"|cut -d ' ' -f 1)
umount $repodev

mkdir -p /run/iWe/{mnt,install_keys,sysimage}
mount -L iWe /run/iWe/mnt

cp -a /run/iWe/mnt/iWe-install-key-*.json /run/iWe/install_keys/

mkdir -p /tmp/iWe/install_keys
cp -a /run/iWe/mnt/iWe-install-key-*.json /tmp/install_keys/

umount /run/iWe/mnt
mount $repodev /run/install/repo

mount /run/install/repo/images/iwe.img /run/iWe/sysimage

mount /tmp	/run/iWe/sysimage/tmp			-o bind
mount proc	/run/iWe/sysimage/proc	-t proc		-o nosuid,noexec,nodev
mount sysfs	/run/iWe/sysimage/sys	-t sysfs	-o nosuid,noexec,nodev
mount devtmpfs	/run/iWe/sysimage/dev	-t devtmpfs	-o mode=0755,nosuid

cp /etc/resolv.conf /run/iWe/sysimage/etc/
chroot /run/iWe/sysimage/ /opt/iWe/activate_server.py

umount /run/iWe/sysimage/{tmp,proc,sys,dev,}

%end
repo --name=Fedora --mirrorlist=https://mirrors.fedoraproject.org/metalink?repo=fedora-27&arch=x86_64
repo --name=Updates --mirrorlist=https://mirrors.fedoraproject.org/metalink?repo=updates-released-f27&arch=x86_64
url --mirrorlist=https://mirrors.fedoraproject.org/mirrorlist?path=pub/fedora/linux/releases/27/Server/x86_64/os


#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda,vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens3 --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$hT0pLQ27ncymeYdY$0PwffqYGUZcOGYvbxGji1VvM6DyRXBDw10BRDOhHNSFai4NEyr2HSfC1COAvKc7yivyhFBUZOEfmbMSnCfq86/
# System services
services --enabled="chronyd"
services --enabled=sshd

# System timezone
timezone Europe/Zurich --isUtc
# System bootloader configuration
bootloader --location=mbr --boot-drive=vda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part /boot/efi --fstype="efi" --ondisk=sda --size=200 --fsoptions="umask=0077,shortname=winnt"
part /boot --fstype="ext4" --ondisk=sda --size=1024
part pv.287 --fstype="lvmpv" --ondisk=sda --size=24392
volgroup clalld-system --pesize=4096 pv.287
logvol swap  --fstype="swap" --size=7997 --name=swap --vgname=clalld-system
logvol /  --fstype="xfs" --size=16384 --name=root --vgname=clalld-system

%packages
@^server-product-environment

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
%end
